---
import Layout from "../layouts/Layout.astro";

// Meta data
const title = "Dodaj Samochód - JustFuel";
const description = "Dodaj nowy samochód do śledzenia zużycia paliwa";
---

<Layout title={title} description={description}>
  <main class="container mx-auto px-4 py-8">
    <div id="add-car-content">
      <!-- Add car form will be loaded here by React component -->
    </div>
  </main>
</Layout>

<script>
  console.log("Add car page loaded");
</script>
